extends layout

block head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/lobby.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
    //Latest compiled and minified CSS
    link(rel="stylesheet",  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
                            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
                            crossorigin="anonymous")

block body
    div#header( class="header page-header row", hidden=true)
        div( class="col-md-1")
        div( class="col-md-9")
            h2
                div#user(class="pull-left col-lg-6 text-primary")
            h2
                div#opponent(class="pull-right col-lg-6 text-danger", hidden=true)
        div( class="col-md-2" style="position: relative;")
            a( class="btn-info" id="logout-button" href=".") Logout

    div#login-page( hidden=false, class="page login-page")
        div( class="col-md-4 full-height")
            div( class="login vertical-center")
                ul(class="nav nav-tabs")
                    li(class="active")
                        a( href="#login" data-toggle="tab" class="login-tab") Login
                    li
                        a( href="#register" data-toggle="tab" class="login-tab") Register

                div(id="myTabContent" class="tab-content")
                    div( class="tab-pane active in" id="login")
                        form( action="/login", method="POST" id="login-form")
                            h2(class="login-title") Login to battleship
                            hr
                            input(id="username", name="username", type="text", class="form-control login-input", placeholder="username" required)
                            br
                            input(id="password", name="password", type="password", class="form-control login-input", placeholder="password" required)
                            br
                            div( id="login-error", hidden=true)
                            input(type="submit", value="Submit", name="submit", id="login-submit", class="login-button")

                    div( class="tab-pane fade" id="register")
                        form( action="/register", method="POST" id="register-form")
                            h2(class="login-title") Register for battleship
                            hr
                            input(id="username-reg", name="username", type="text", class="form-control login-input", placeholder="username" required)
                            br
                            input(id="password-reg", name="password", type="password", class="form-control login-input", placeholder="password" required)
                            br
                            input(id="password-confirm", name="password", type="password", class="form-control login-input", placeholder="password", data-match="#password-reg", data-match-error="Passwords don't match" required)
                            br
                            div( id="register-error", hidden=true)
                            input(type="submit", value="Submit", name="submit", id="register-submit", class="login-button")


    div#lobby( hidden=true, class="page")
        div(class="container-fluid full-height")
            div(class="row full-height")
                div(class="col-md-2 height-70")
                   include navbar.pug
                   br
                   div( class="well" style="height:98%;")
                       h3( class="well-header") Highscores
                       hr( class="score-hr")
                       ul(id="highscore" class="list-group height-90")
                div(class="col-md-7 height-90 chat")
                    include chat-fragment.pug
                div( class="col-md-3 height-90")
                    div(class="well full-height")
                        h3( class="well-header") Online users
                        ul(id='connections' class="list-group well-list height-95")
                        button(id='createGame', class="btn btn-primary bottom well-button") CREATE GAME

    div#game( hidden=true, class="page")
        div( class="col-md-2")
            include navbar.pug
        div( class="col-md-7")
            div#game-area(hidden=true)
                button( class="btn-success" id="submitBoard") Submit Board
                div(id='boards')
                    div(id='player_board')
                    div(id='opponent_board')
                div(id='pieces')
                    each val in ["carrier", "battleship", "destroyer", "submarine", "patrol"]
                        img( class="ship" id=val src="assets/"+val+".png")
            // TODO make into modal
            div#wait-opponent(class="loader") Waiting other player to join game
        div( class="col-md-3 height-90 chat")
            include chat-fragment.pug


    include navbar-modals.pug
